In [ ]:
file1=open("/content/myfile.txt","r")
text=file1.read()
print(text)

AI in Practice
CSE3208
sample data

In [ ]:
file2=open("/content/myfile.txt","r")
text=file2.readlines()
print(text)

['AI in Practice\n', 'CSE3208\n', 'sample data']

In [ ]:
file_path="/content/myfile.txt"
def count_lines(file_path):
  with open(file_path,"r") as file:
    lines=file.readlines()
    return len(lines)

In [ ]:
count=count_lines(file_path)
print(f"The file contains {count} lines.")

The file contains 3 lines.

In [ ]:
def count_fields(file_path):
  with open(file_path,"r",errors='ignore') as file:
    first_line=file.readline().strip()
    fields=first_line.split()
    return len(fields)

In [ ]:
file_path="/content/myfile.txt"
field_count=count_fields(file_path)
print(f"The number of fields in the first line is:{field_count}")

The number of fields in the first line is:3

In [ ]:
import pandas as pd
df = pd.read_csv("/content/data.tsv", delimiter='\t', encoding='latin-1')
df.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4,4,NaN,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5,4,NaN,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4,3,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5,5,NaN,10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4,4,NaN,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
rows=df.shape[0]
cols=df.shape[1]
print(" Number of Rows:",rows)
print("Number ofColumns:",cols)

 Number of Rows: 12976
Number ofColumns: 28

In [ ]:
file_path="/content/data.tsv"
def count_lines(file_path):
  with open(file_path,"r",errors="ignore") as file:
    lines=file.readlines()
    return len(lines)

In [ ]:
line_count=count_lines(file_path)
print(f"Number of lines in the file: {line_count}")

Number of lines in the file: 12979

In [ ]:
def count_fields(file_path):
  with open(file_path,"r")as file:
    first_line=file.readline().strip()
    fields=first_line.split()
    return len(fields)

In [ ]:
field_count=count_fields(file_path)
print(f"Number of fields are: {field_count}")

Number of fields are: 28